<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<integer>3</integer>
		<key>owner</key>
		<integer>27</integer>
		<key>noteIds</key>
		<array>
			<integer>551</integer>
			<integer>552</integer>
			<integer>553</integer>
			<integer>554</integer>
			<integer>555</integer>
			<integer>556</integer>
			<integer>557</integer>
			<integer>601</integer>
			<integer>602</integer>
			<integer>603</integer>
			<integer>604</integer>
			<integer>609</integer>
			<integer>610</integer>
			<integer>611</integer>
			<integer>612</integer>
			<integer>613</integer>
			<integer>614</integer>
			<integer>615</integer>
			<integer>616</integer>
			<integer>617</integer>
			<integer>618</integer>
			<integer>619</integer>
			<integer>620</integer>
			<integer>623</integer>
			<integer>624</integer>
			<integer>625</integer>
			<integer>2</integer>
			<integer>114</integer>
			<integer>700</integer>
			<integer>701</integer>
			<integer>702</integer>
			<integer>800</integer>
			<integer>550</integer>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<integer>0</integer>
		<key>owner</key>
		<integer>27</integer>
		<key>noteIds</key>
		<array>
			<integer>605</integer>
			<integer>606</integer>
			<integer>608</integer>
			<integer>621</integer>
			<integer>622</integer>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<integer>14</integer>
		<key>owner</key>
		<integer>27</integer>
		<key>noteIds</key>
		<array>
			<integer>559</integer>
			<integer>560</integer>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<integer>4</integer>
		<key>owner</key>
		<integer>601</integer>
		<key>noteIds</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<integer>4</integer>
		<key>owner</key>
		<integer>602</integer>
		<key>noteIds</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<integer>4</integer>
		<key>owner</key>
		<integer>603</integer>
		<key>noteIds</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<integer>4</integer>
		<key>owner</key>
		<integer>605</integer>
		<key>noteIds</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
</array>
</plist>
